@page
@model AccountModel

@{
	ViewData["Title"] = "Account";
}
<link rel="stylesheet" href="/css/Account.css">
  <h1>Account</h1>
        <div class = "info-container">
            <fieldset>
                <h5>created: @Model.user.CreationDate().ToString("yyyy-MM-dd")</h5>
          
               
                <div class="credential-container">
                    <form method="post">

                         <fieldset>
                        <h4>New password</h4>
                        <input asp-for="updateDTO.password">
                     
            
                        <h4>Repeat password</h4>
                         <input asp-for="updateDTO.repeatPassword">
                
                      @*  <input id="button" type="button" value="Submit">*@
                         <button value="Submit" >Submit</button>
                        </fieldset>




                    </form>
                   
                  
                </div>
            </fieldset>

           
        </div>