@page
@model GamesModel
@{
	 ViewData["Title"] = "Games";
}
<link rel="stylesheet" href="/css/Games.css">
 <div class="grid-container">
        
        <div class="grid-item">

            <a asp-page="/reviewPage"> <img src="images/1200px-Nfstrmustang.jpeg" alt="game photo"></a>

        </div>
        <div class="grid-item">

            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">

        </div>
        <div class="grid-item">
            <img src="images/1200px-Nfstrmustang.jpeg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/1200px-Nfstrmustang.jpeg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/1200px-Nfstrmustang.jpeg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/1200px-Nfstrmustang.jpeg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/1200px-Nfstrmustang.jpeg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/1200px-Nfstrmustang.jpeg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        <div class="grid-item">
            <img src="images/Dishonored_box_art_Bethesda.jpg" alt="game photo">
        </div>
        
        
    </div>