@page
@using Newtonsoft.Json
@model GamesModel
@{
	 ViewData["Title"] = "Games";
}
<link rel="stylesheet" href="/css/Games.css">
 <div class="grid-container">
        @foreach (var game in Model.IGetAllGames.GetAllGames())
        {
            <div class="grid-item">
                <a asp-page="/reviewPage" asp-route-id="@game.gameId"> <img src="data:image/jpeg;base64,@Convert.ToBase64String(@game.image)" alt="game photo" style= "height: 20rem;"></a>
            </div>
        }        
</div>