@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="/css/Index.css">
<div class="text-center">
    <div class="flex-container">
    
            <div class="description">
                <h1>Welcome to GameWatch</h1>
    
                <p>Browse our large collection of <br>
                    video game reviews or if you fancy <br>
                    write one after registering to the website. <br>
                    Enjoy your stay here! </p>
    
            </div>
            <div class="SignUp">
                <fieldset>
                    <legend>SIGN UP</legend>
    
                    <div class="inputField">
                        <h4>Email</h4>
                        <input type="text">
                        <h4>Password</h4>
                        <input type="text">
                       
                    </div>
                    <input id="Continue" type="button" value="Continue">
                
                        <h5 id="Question">Already a user?</h5>
                        <input id="Login" type="button" value="Login">
                </fieldset>
    
            </div>
    
        </div>
</div>
 