@page
@model RegisterModel
@{
    ViewData["Title"] = "Landing page";
}
<link rel="stylesheet" href="/css/Index.css">
<div class="text-center">
    <div class="flex-container">
    
            <div class="description">

                <h1>Welcome to GameWatch</h1>
    
                <p>Browse our large collection of <br>
                    video game reviews or if you fancy <br>
                    write one after registering to the website. <br>
                    Enjoy your stay here! </p>
    
            </div>

            <div class="SignUp">
                <form method="POST">

                    <fieldset>
                        <legend>SIGN UP</legend>
    
                        <div class="inputField">

                            <h4>Username</h4>
                            <input asp-for="Register.username" type="text" placeholder="Enter username">
                           @* <input type="text">*@
                            <h4>Password</h4>
                            <input asp-for="Register.password" type="text" placeholder="Enter password">
                           @* <input type="text">*@
                                         
                        </div>
                        <input id="Continue" type="submit" value="Continue">
                        <h5 id="Question">Already a user?</h5>
                       
                        <input  asp-page="/Login" id="Login" type="submit" value="Login">

                    </fieldset>

                </form>
               
    
            </div>
    
        </div>
</div>
 