@page
@model loginModel
@{
	ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="/css/Login.css">
<div class="login-container">
                <div class="Login">
                    <form method="post">

                         <fieldset>
                        <legend>LOGIN</legend>
        
                            <div class="inputField">
                             
                                <label asp-for="credential.Email">Email</label>
                                <input asp-for="credential.Email">

                                <span class="text-danger" asp-validation-for="credential.Email"></span>


                                <label asp-for="credential.Password">Password</label>
                                <input asp-for="credential.Password">

                                <span class="text-danger" asp-validation-for="credential.Password"></span>

                             
                            </div>

                            
                             <input id="Continue" type="submit" value="Continue">
                             <label id="Question">Don't have an account?</label>
                             <input  asp-page="/Index" id="SignUpp" type="submit" value="SignUp">  
                        </fieldset>
                    </form>
                   
                </div>
            </div>
