@page
@model loginModel
@{
	ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="/css/Login.css">
<div class="login-container">
                <div class="Login">
                    <form method="post">

                         <fieldset>
                        <legend>LOGIN</legend>
        
                            <div class="inputField">
                                <label asp-for="Register.username">Username</label>
                                <input asp-for="Register.username">

                                <span class="text-danger" asp-validation-for="Register.username"></span>


                                <label asp-for="Register.password">Password</label>
                                <input asp-for="Register.password">

                                <span class="text-danger" asp-validation-for="Register.password"></span>
                            </div>
                              <button id="Continue" type="submit" value="Submit" >Continue</button>
                         
                             <label id="Question">Don't have an account?</label>
                             <input  asp-page="/Index" id="SignUpp" type="submit" value="SignUp">  
                        </fieldset>
                    </form>
                   
                </div>
            </div>
