@page
@model First_ASP_NET_CORE.Pages.TestingCLassModel
@{
	ViewData["Title"] = "Review"; 
}
<form method="post">

Name: <input type="text" id="name" value="the name"> </input>
Email: <input type="text" id="email" value="the email">

<label for="cars">Choose a car:</label>
<option seletected>selected</option>
<select name="countries" id="countries">
  <option value="BG">Bulgaria</option>
  <option value="NL">Netherland</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>


       


</form>














