body {
    background-color: #FFC800;
}

.navbar {
    position: flex;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    background-color: #FF8427;
}

    .navbar a {
        margin-right: 50px;
        float: right;
        color: #ffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar a:hover {
            background-color: #4D8B31;
            border-radius: 30px;
            transition-duration: 2s;
        }

    .navbar input[type=text] {
        /* 
    position: absolute;
   
   */
        margin-left: 30px;
        margin-right: 30px;
        top: 9px;
        padding: 6px;
        border: none;
        font-size: 17px;
        text-align: left;
    }

    .navbar #logo {
        margin-top: 6px;
        margin-left: 20px;
        margin-right: 20px;
        width: 140px;
    }

body .flex-container1 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

    body .flex-container1 .flex-container-item1 img {
        margin-top: 10px;
        width: 200px;
    }

    body .flex-container1 .flex-container-item2 {
        display: flex;
        flex-direction: row;
    }

        body .flex-container1 .flex-container-item2 p {
            margin-top: 50px;
            margin-left: 30px;
        }

body #rounded {
    margin-top: 25px;
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    width: 140px;
    height: 130px;
}


body .flex-container2 #title {
    margin: auto;
}


body .flex-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
}

body .flex-container3 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

    body .flex-container3 .username-score-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

body .flex-container2 .score-container {
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
    gap: 20px;
}

body .input-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

    body .input-container #inputfield {
        position: relative;
        height: 100px;
        width: 700px;
    }

    body .input-container input[type=button] {
        width: 90px;
    }

/* Drop down menu */

/* Dropdown Button */
.dropbtn {
    margin-top: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-width: 1px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 10px 33px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #535353;
}
